<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A361A671DE2A35A00E94A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A361A801DE2A35A00E94A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A361A8B1DE2A35A00E94A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
